section.my_order_box {
  margin: 0 auto;
  inline-size: 900px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
}

.order_area {
  display: flex;
  flex-flow: column;
}

.order_area li {
  display: flex;
  flex-flow: column;
  margin: 30px auto;
}

p.my_order_title {
  font-size: 20px;
}

.my_order_money,
.my_order_date,
.my_order_status {
  display: flex;
}

.my_order_money p,
.my_order_date p,
.my_order_status p {
  margin-right: 10px;
  color: #999999;
}
