.my {
  inline-size: 1104px;
  margin: auto;
}

ul.my_menu {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.my_menu li {
  margin: 10px 10px 10px 10px;
  font-weight: 500;
}

.my_menu a:active,
.my_menu a:focus {
  color: rgb(54, 141, 210);
}
