.main {
  display: grid;
  flex-flow: column;
  inline-size: 1104px;
  margin: 0 auto;
  margin-top: 30px;
}

.main li {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  justify-content: space-between;
}

.main_movie {
  margin: 20px 0 20px;
}
