.main {
  display: grid;
  flex-flow: column;
  inline-size: 1104px;
  margin: 0 auto;
  margin-top: 30px;
}

.main ul {
  display: grid;
  grid-template-columns: repeat(6, 184px);
  justify-content: space-between;
  justify-items: center;
  margin: 0 10px 80px 0;
}

.main li {
  margin: 20px 0 20px 0;
}

.main img {
  margin: 20px 0 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
}

.main_info {
  display: flex;
  flex-flow: column;
  inline-size: 120px;
  margin-top: 5px;
}

.main_title {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_subtitle {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_director {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
