@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", Roboto, "Helvetica Neue", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: black;
}

a:hover {
  color: rgb(54, 141, 210);
}

button {
  cursor: pointer;
}
